/* =============== Initial Setup and Utilities ================== */
body {font-family: 'Poppins', sans-serif;}
.navbar-brand, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
.half-opacity-bg {background-color: rgba(0, 123, 255, 0.2) !important;}
.positioning {top: -30%; left: 50%; transform: translateX(-50%);}
.carousel-item img {width: 100px;}
/* ============= For Card Hover ============== */
.card-body {z-index: 1;}
.card-fade::before {content: ""; display: block; position: absolute; background-color: rgb(0, 123, 255); top: 100%; bottom: 0; left: 0; right: 0; z-index: 0; transition: top 0.5s ease-out;}
.card-fade:hover:before {top: 0;}
.card-fade:hover, .card-fade:hover i {color: white !important; transition: color 1s;}
/* =============== For Background Image ============ */
.bannar {background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(images/hero-bg.jpg); background-attachment: fixed; height: 400px;}
.carousel-area {height: 450px; background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/testimonials-bg.jpg); color: white;}
/* Carousel Indicator */
.carousel-indicators [data-bs-target] {width: 1rem; height: 1rem; border: 2px solid white; border-radius: 50%; background-color: transparent; opacity: 1;}
.carousel-indicators .active {background-color: white;}
/* Product Tab */
.tab-titles .active {color: rgb(0, 123, 255); font-weight: bold;}
.image-grid img {max-width: 100%;}
/* Team Card */
.social-buttons {top: 50%; left: 15px; opacity: 0;}
.team-card:hover .social-buttons {opacity: 1; top: 60%; transition: top 0.5s ease-out, opacity 0.5s ease-out;}