@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {padding: 0; margin: 0; box-sizing: border-box;}
body {font-family: 'Poppins', sans-serif;}
.navbar-brand, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
.bannar {background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(images/hero-bg.jpg); background-attachment: fixed; height: 400px;}
.half-opacity-bg {background-color: rgba(0, 123, 255, 0.2) !important;}
.positioning {top: -40%; left: 50%; transform: translateX(-50%);}